//========================================
// Base Stylesheet
//========================================
.tcu-global-header__wrapper,
.tcu-content-sheet.-navigation {
  -moz-osx-font-smoothing: grayscale;
  font-size: $base-font-size;

  * {
    box-sizing: border-box;
  }

  ul,
  ol {
    margin: 1em 0;
    padding: 0;
  }

  button {
    font-size: $base-font-size;
    font-family: $font-body;
  }

  img,
  svg {
    vertical-align: middle;
  }

  .clearfix,
  .cf {
    // *zoom: 1;
    &::before,
    &::after {
      content: ' ';
      display: table;
    }

    &::after {
      clear: both;
    }
  }

  .tcu-layout-constrain {
    margin-left: auto;
    margin-right: auto;
    padding-left: 5.5%;
    padding-right: 5.5%;

    &._no-breadcrumb {
      padding-top: 4rem;
    }

    ._full-width {
      // pull the module back to full canvas width
      margin-left: -6.5%;
      margin-right: -6.5%;

      + section {
        margin-top: 1rem;
      }

      .tcu-module {
        margin-bottom: 0;
      }
    }
    ._narrow {
      border: 1px solid $grey;
      max-width: 1600px;
      background: $white;
      padding-left: 2.5%;
      padding-right: 2.5%;
      position: relative;

      @include media(1260px) {
        padding-left: 5.5%;
        padding-right: 5.5%;
      }
    }
  }

  // Visiually Hidden
  .tcu-visuallyhidden {
    border: 0 none;
    clip: rect(0, 0, 0, 0);
    font-size: 0;
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
  }
}
