//======================
// HELPER CLASSES
//======================

// Visiually Hidden
.tcu-visuallyhidden {
  border: 0 none;
  clip: rect(0, 0, 0, 0);
  font-size: 0;
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  width: 1px;
}

.tcu-position-relative {
  position: relative;
}

// for backwards compatibility ONLY
// Let's start to phase these out...
//
//  Margin bottom
.tcu-below6 {
  margin-bottom: 6px;
}

.tcu-below12 {
  margin-bottom: 12px;
}

.tcu-below18 {
  margin-bottom: 18px;
}

.tcu-below30 {
  margin-bottom: 30px;
}

.tcu-below36 {
  margin-bottom: 36px;
}

.tcu-below47 {
  margin-bottom: 47px;
}

.tcu-below48 {
  margin-bottom: 48px;
}

// Margin top
.tcu-top6 {
  margin-top: 6px;
}

.tcu-top12 {
  margin-top: 12px;
}

.tcu-top18 {
  margin-top: 18px;
}

.tcu-top24 {
  margin-top: 24px;
}

.tcu-top30 {
  margin-top: 30px;
}

.tcu-top36 {
  margin-top: 36px;
}

.tcu-top48 {
  margin-top: 48px;
}

.tcu-top56 {
  margin-top: 56px;
}

// =========================================================
// updated helper classes to reflect spacing variables
// IMPORTANT: Only use the ones below.
// =========================================================

// Margin bottom
.tcu-below4 {
  margin-bottom: 4px;
}

.tcu-below8 {
  margin-bottom: 8px;
}

.tcu-below16 {
  margin-bottom: 16px;
}

.tcu-below32 {
  margin-bottom: 32px;
}

.tcu-below64 {
  margin-bottom: 64px;
}

//  Margin top
.tcu-top4 {
  margin-top: 4px;
}

.tcu-top8 {
  margin-top: 8px;
}

.tcu-top16 {
  margin-top: 16px;
}

.tcu-top32 {
  margin-top: 32px;
}

.tcu-top64 {
  margin-top: 64px;
}

//  Remove Padding
.tcu-pad-t0 {
  padding-top: 0 !important;
}

.tcu-pad-b0 {
  padding-bottom: 0 !important;
}

.tcu-pad-r0 {
  padding-right: 0 !important;
}

.tcu-pad-l0 {
  padding-left: 0 !important;
}

.tcu-pad-tb0 {
  padding-bottom: 0 !important;
  padding-top: 0 !important;
}

.tcu-pad-lr0 {
  padding-left: 0 !important;
  padding-right: 0 !important;
}

//  Remove Margin
.tcu-mar-t0 {
  margin-top: 0 !important;
}

.tcu-mar-b0 {
  margin-bottom: 0 !important;
}

.tcu-mar-l0 {
  margin-left: 0 !important;
}

.tcu-mar-r0 {
  margin-right: 0 !important;
}

.tcu-mar-tb0 {
  margin-bottom: 0 !important;
  margin-top: 0 !important;
}

.tcu-mar-lr0 {
  margin-left: 0 !important;
  margin-right: 0 !important;
}

//  Text alignment
.tcu-alignl {
  text-align: left;
}

.tcu-alignr {
  text-align: right;
}

.tcu-alignc {
  text-align: center;
}

// Text transform */
.tcu-lowercase {
  text-transform: lowercase;
}

.tcu-uppercase {
  text-transform: uppercase;
}

.tcu-small {
  font-size: $font-small !important;
}

.tcu-full-width {
  width: 100%;
}

.tcu-line-height-1 {
  line-height: 1;
}

.tcu-not-mobile {
  display: none;

  @include media($large-screen) {
    display: block;
  }
}

.tcu-not-desktop {
  display: block;

  @include media($between-screen) {
    display: none;
  }
}

// Font helpers.
.tcu-sourcesans {
  font-family: $font-sourcesans;
}

.tcu-playfair {
  font-family: $font-playfair;
}

.tcu-oswald {
  font-family: $font-oswald;
}

.tcu-bold {
  font-weight: $font-bold;
}

.tcu-font-normal {
  font-weight: $font-normal;
}

.tcu-italic {
  font-style: italic;
}

// Color helpers
.tcu-bg-purple {
  background-color: $purple;
}

.tcu-txt-purple {
  color: $purple;
}

.tcu-bg-lightgrey {
  background-color: $light-grey;
}

.tcu-bg-darkgrey2 {
  background-color: $dark-grey2;
}

.tcu-bg-yellow {
  background-color: $secondary-yellow;
}

.tcu-txt-white {
  color: $white !important;
}

.tcu-text-shadow {
  text-shadow: 2px 3px 3px $black;
}
