//======================================
// Variables - include colors and fonts
//======================================

// Global Nav Margin
$body-margin-small: 64px;
$body-margin-large: 84px;
$body-margin-xl: 109px;

// Screen Sizes
$small-screen: 30.0625em !default; // 481px
$medium-screen: 43.75em !default; // 700px
$large-screen: 62.5em !default; // 1000px
// we use this for the mobile menu
$between-screen: 78.75em !default; // 1260
// end of mobile menu screen size
$xl-screen: 87.5em !default; // 1400px
// we use this for the news hero image height transition
$between-tablet: 37.5em; // 600px
$sweet-spot: 68.75em; //1100px || 68.75em

//========================
// PAGE LENGTHS
//========================

$length: 1800px;
$gutter: 25px;
$gutter-half: 2.5rem;
$max-text-length: 650px;

// Alert
//   Note: We use a 5% darkening function for
//   the alert colors below.
//
$alert-yellow: #ebe16f;
$alert-red: #fbe3e4;
$alert-green: #e6efc2;
$alert-blue: #d5edf8;

$announcement-blue: #5aafee;
$emergency-red: #d0021b;
$warning-yellow: #ffcc00;

// Form Validation Colors
$blue: #5aafee;
$bright-green: #43cb83;
$light-green: rgba(67, 203, 131, 0.2);
$light-red: rgba(5, 3, 3, 0.2);
$bright-red: #f4003d;
$disabled-gray: #f5f5f5;
$another-gray: #a3a3a3; // How many more gray variations can Jenny use? 🤷🏽‍
$matched-yellow: #f8e71c;
$dark: #121014;

// Primary Colors
$white: #fff;
$black: #111;
$purple: #4d1979;
$medium-purple: #6c22b7;
$light-purple: #714793;
$dark-purple: #240e3a;
$horned-frog-grey: #a3a9ac;

// Secondary Colors
$secondary-yellow: #fed277;
$secondary-yellow-light: #fff6e4;

// Grey
$dark-grey: #777;
$dark-grey2: #4d4d4a;
$grey: #999;
$light-grey: #eee;
$light-grey2: #ccc;
$text-color: $dark-grey2;

// Opacity 255, 255, 255
$opacity-white-75: rgba(255, 255, 255, 0.75);
$opacity-yellow-75: rgba(254, 210, 119, 0.75);

//========================
// FOCUS COLORS
//========================
$focus-yellow: 0 0 2px rgba(254, 210, 119, 1);
$focus-purple: 0 0 2px rgba(77, 25, 121, 1);
$focus-black: 0 0 2px rgba(17, 17, 17, 1);
$focus-blue: 0 0 2px rgba(30, 140, 190, 1);

// Overlays
$purple-overlay: rgba(77, 25, 121, 0.7);
$overlay-white: rgba(255, 255, 255, 0.6);

//========================
// FONTS
//========================
$font-sourcesans: 'Source Sans Pro', 'Arial', 'Trebuchet MS', sans-serif;
$font-playfair: 'Playfair Display', serif;
$font-oswald: 'Oswald', sans-serif;

$font-body: $font-sourcesans;
$font-headlines: $font-playfair;

$font-normal: 400;
$font-bold: 700;

$font-italic: 'italic';

$base-font-size: 20px; //  20px
$h1-font-size: 3rem; //    min: 40px; max: 60px
$h1-font-min: 2rem;
$h2-font-size: 2.5rem; //  min: 35px; max: 50px
$h2-font-min: 1.75rem;
$h3-font-size: 2rem; //    min: 30px; max: 40px
$h3-font-min: 1.5rem;
$h4-font-size: 1.75rem; // min: 25px; max: 35px
$h4-font-min: 1rem;
$h5-font-size: 1.5rem; //  min: 25px; max: 30px
$h5-font-min: 1rem;
$h6-font-size: 1.25rem; // min: 25px; max: 25px
$h6-font-min: 1rem;
$font-medium: 0.9rem; //   18px
$font-small: 0.8rem; //    16px

$sub-headline-font: 1.2em; // 30px

// For fluid type
$min-width: 300px;
$max-width: 1800px;

//========================
// SPACING
//========================
$space-inset-default: 16px 16px 16px 16px;
$space-inset-xs: 4px 4px 4px 4px;
$space-inset-s: 8px 8px 8px 8px;
$space-inset-m: 16px 16px 16px 16px;
$space-inset-l: 32px 32px 32px 32px;
$space-inset-xl: 64px 64px 64px 64px;
$space-stack-default: 0 0 16px 0;
$space-stack-xs: 0 0 4px 0;
$space-stack-s: 0 0 8px 0;
$space-stack-m: 0 0 16px 0;
$space-stack-l: 0 0 32px 0;
$space-stack-xl: 0 0 64px 0;
$space-default: 16px;
$space-xs: 4px;
$space-s: 8px;
$space-s-med: 11px;
$space-m: 16px;
$space-l: 32px;
$space-xl: 64px;

$section-divider: 1px solid $horned-frog-grey;
