//=====================
// FOOTER STYLES
//=====================

%tcu-layoutwrap,
.tcu-layoutwrap {
  @include margin(0 null);
}

.tcu-layoutwrap--dark {
  @extend %tcu-layoutwrap;

  background-color: $black;
  color: $white;
  padding: $space-m;

  blockquote {
    border-left: 10px solid $white;
  }
}

.tcu-layoutwrap--purple {
  @extend %tcu-layoutwrap;

  background-color: $purple;
  color: $white;
  padding: $space-l;

  blockquote {
    border-left: 10px solid $white;
  }

  a {
    color: $white;
  }
}

.tcu-pad-tb0 {
  padding-bottom: 0;
  padding-top: 0;
}

.tcu-footer-nav-wrap,
.tcu-footer-info {
  -moz-osx-font-smoothing: grayscale;
  font-family: $font-body;
  line-height: 1.5;
  p {
    margin-top: 16px;
    margin-bottom: 16px;
  }
  @include media($small-screen) {
    .unit {
      padding-left: $gutter;
      padding-right: $gutter;
    }
  }
}

.tcu-footer-nav-wrap {
  color: $white;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding-top: 0;
  padding-bottom: 0;
  font-size: 18px;

  @include media($xl-screen) {
    flex-wrap: nowrap;
  }

  > * {
    flex: 1 1 auto;
    @include media($medium-screen) {
      padding-left: $gutter;
      padding-right: $gutter;
    }
  }

  a {
    text-decoration: none;

    &:hover,
    &:focus {
      color: $secondary-yellow;
      text-decoration: underline;
    }
  }

  ul {
    display: flex;
    flex-flow: column;
    justify-content: center;
    list-style: none;
    margin: 1em 0;
    padding: 0;

    @include media($medium-screen) {
      flex-flow: row;
      flex-wrap: wrap;
    }

    @include media($xl-screen) {
      justify-content: flex-start;
      flex-wrap: nowrap;
    }
  }

  li {
    float: left;
    padding-bottom: $space-m;

    @include media($medium-screen) {
      padding: 0;
      white-space: nowrap;

      a {
        display: inline-block;
      }

      &::after {
        content: '/';
        display: inline-block;
        margin: 0 10px;
      }

      &:last-of-type::after {
        display: none;
      }
    }
  }
}

.tcu-copyright {
  @include media($medium-screen) {
    text-align: center;
  }

  @include media($xl-screen) {
    text-align: right;
  }

  a {
    font-weight: bold;
  }

  p {
    margin-top: 18px;
    margin-bottom: 18px;
  }
}

.tcu-footer-info {
  border-top: 2px solid $white;
  color: $white;
  font-size: 16px;
  padding: $space-l;

  @include media($medium-screen) {
    padding-bottom: $space-xl;
  }
}
