// make room for the global nav
body {
  margin-top: $body-margin-small;
}

.tcu-global-logo {
  display: block;
  line-height: 60px;

  svg {
    height: 30px;
    transition: height 0.45s ease-in;
  }
}

@include media($large-screen) {
  body {
    margin-top: $body-margin-large;
  }

  .tcu-global-logo {
    line-height: 80px;

    svg {
      height: 40px;
    }
  }
}

@include media($between-screen) {
  body {
    margin-top: $body-margin-xl;
  }

  .tcu-global-logo {
    line-height: 105px;

    svg {
      height: 51px;
    }
  }
}

.tcu-global-header__wrapper {
  background: $white;
  left: 0;
  position: absolute;
  right: 0;
  top: 0;
  z-index: 10;

  @media (max-width: 1259px) {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
  }
}

.tcu-global-header {
  background: $white;
  border-bottom: 4.25px solid $purple;
  display: flex;
  margin: auto;
  max-width: 1800px;
  position: relative;

  &-right {
    display: flex;
    flex-basis: auto;
    justify-content: flex-end;
    width: 100%;

    .search {
      align-items: center;
      cursor: pointer;
      display: flex;
      flex-basis: auto;
      background: transparent;
      border: 0;
      padding: 0 20px;
      @include media($large-screen) {
        width: 10%;
        padding: 0;
      }

      .search-icon {
        cursor: pointer;
        fill: $black;
        margin-left: 5px;
        @include media($large-screen) {
          fill: $dark-grey;
          opacity: 0.5;
        }
      }
    }

    @media (max-width: (calc($large-screen - 0.1em))) {
      .icon-label {
        position: absolute !important;
        width: 1px !important;
        height: 1px !important;
        padding: 0 !important;
        overflow: hidden !important;
        clip: rect(0, 0, 0, 0) !important;
        white-space: nowrap !important;
        border: 0 !important;
        cursor: pointer
      }
    }

    @include media($large-screen) {
      .icon-label {
        display: block;
      }
    }
  }
}
